#!/usr/bin/make -f
# debian/rules for rng-tools
# GNU copyright 1997 to 1999 by Joey Hess.
# Copyright (c) 2003,2004 by Henrique de Moraes Holschuh
# Published under the GNU GPL license
# Based on previous work by Viral Shah <viral@debian.org>.
#
# $Id: rules,v 1.3.2.15 2008-06-19 03:02:21 hmh Exp $

PACKAGE:=rng-tools
PKGDIR:=$(CURDIR)/debian/$(PACKAGE)

# DebHelper control
export DH_ALWAYS_EXCLUDE=CVS

export DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
export DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

DEBUGFLAGS=-g
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	DEBUGFLAGS += -O0
else
	DEBUGFLAGS += -O2
endif
ifneq (,$(findstring strict,$(DEB_BUILD_OPTIONS)))
	DEBUGFLAGS += -Werror
endif

confflags=
# FOR AUTOCONF 2.52 AND NEWER ONLY
ifeq ($(DEB_BUILD_GNU_TYPE), $(DEB_HOST_GNU_TYPE))
	confflags += --build $(DEB_HOST_GNU_TYPE)
else
	confflags += --build $(DEB_BUILD_GNU_TYPE) --host $(DEB_HOST_GNU_TYPE)
endif

# Detect ix86 and enable VIA PadLock support
# Debian uses i386. i586 and i686 are handled upstream
ifneq (,$(findstring i386,$(DEB_BUILD_GNU_TYPE)))
	confflags += --enable-viapadlock
endif

configure:
	./autogen.sh

configure-stamp:
	dh_testdir

	rm -rf autom4te.cache
	rm -f config.sub config.guess
	ln -s /usr/share/misc/config.sub config.sub
	ln -s /usr/share/misc/config.guess config.guess

	rm -rf config.log config.cache
	./configure CFLAGS="-Wall -pipe $(DEBUGFLAGS)" \
	  --prefix=/usr \
	  --mandir=\$${prefix}/share/man \
	  --infodir=\$${prefix}/share/info

	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir

	$(MAKE)

	touch build-stamp

clean:	configure
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -rf autom4te.cache

	rm -f config.sub config.guess
	ln -s /usr/share/misc/config.sub config.sub
	ln -s /usr/share/misc/config.guess config.guess

	[ ! -f Makefile ] || $(MAKE) clean
	[ ! -f Makefile ] || $(MAKE) distclean

	rm -f config.sub config.guess
	rm -rf config.log config.cache

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	$(MAKE) install DESTDIR=$(PKGDIR)

        # Install logcheck files
	mkdir -p $(PKGDIR)/etc/logcheck/ignore.d.server
	install -m 644 debian/logcheck.ignore \
	  $(PKGDIR)/etc/logcheck/ignore.d.server/rng-tools
	mkdir -p $(PKGDIR)/etc/logcheck/violations.ignore.d
	install -m 644 debian/logcheck.ignore \
	  $(PKGDIR)/etc/logcheck/violations.ignore.d/rng-tools


	# Install lintian overrides, if any
	cd debian ; \
	for i in *.lintian ; do \
	    [ -r "$$i" ] && { \
		mkdir -p "$${i%%.lintian}/usr/share/lintian/overrides" ;\
		install  -m 644 "$$i" "$${i%%.lintian}/usr/share/lintian/overrides/$${i%%.lintian}" ;\
	    } ;\
	done

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
#	dh_installdebconf	
	dh_installdocs README
#	dh_installexamples
#	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
	dh_installmodules
	dh_installinit --error-handler=true
#	dh_installcron
	dh_installman
#	dh_installinfo
#	dh_undocumented
	dh_installchangelogs ChangeLog
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
