#!/usr/bin/make -f

# Detect i386/i486 and force-enable VIA PadLock support
ifneq (,$(findstring i386,$(DEB_BUILD_ARCH)))
	confflags += --enable-viapadlock
endif

%:
	dh $@ --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- $(confflags)

override_dh_installdocs:
	dh_installdocs README

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog
